{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% include 'snip/animate_open.html' %}
    <div id="FullContent" style="visibility: hidden;overflow-x:hidden;">
    {% include 'snip/hero_snip.html' %}
    {% include 'snip/topbanner_snip.html' %}

    <!--ABOUT-->
    {% include "snip/white_section_columns_snip.html" with blocks1=sectionMain %}

    <!--CURRENT POSITION-->
    {% include "snip/white_section_columns_snip.html" with blocks1=sectionCurrentPos %}

    <!--SKILLS-->
    {% include "snip/white_section_columns_snip.html" with blocks1=skillsanddata %}

    <div class="Space-100"></div>

    <!--BLOG-->
    {% include 'snip/blog_snip.html' with bb_contextitle=settingstop.texttop %}
    <div class="Space-200"></div>
    {% include 'snip/footer_snip.html' %}
    {% include 'snip/topnavstick_snip.html' %}
    </div>
    <script>
    function ScriptContent() {
        $('.AutoSizeTextOneLine').textfill({maxFontPixels: 200});

        var controller = new ScrollMagic.Controller({loglevel: 3});

        if($('#BlogParallax').length){
            BlogEnabled(controller);
        }
        if($("#TopMenuMini").length) {
                    var TopMenuMiniScroll = new ScrollMagic.Scene({
                        triggerElement: "#HeroBannerApply",
                        triggerHook: 0,
                        duration: 0
                    })
                        .setTween("#TopMenuMini", 0.1, {opacity: 1,display:'', ease: Power0.easeNone})
                        .addTo(controller);
                }
        HeroVideoBackEnable();
        if(typeof TopBannerActivation!="undefined"){
            TopBannerActivation();
        }
        if(typeof BannerCircActivation!="undefined") {
            BannerCircActivation();
        }
        {% if not viewintroanim %}
            PreloadOut()
        {% endif %}
    }
    </script>
{% endblock content %}