{% extends 'blog/baseblog.html' %}
{% load staticfiles %}

{% block content %}
    <div class="Space-100"></div>
    <div class="container">
            {% for post in posts %}
                <div class="mt-5"></div>
                <div class="card mx-auto zoomIn wow" style="width: 80%;">
                    <img class="card-img-top-blog-all" src="{{ post.bigPicture.url }}" alt="">
                  <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.summary | safe}}</p>
                    <a href="{% url 'blogpost' post.slug %}" class="btn btn-primary backBlueAum">Read More</a>
                  </div>
                    <div class="card-footer text-muted">
                        Created {{ post.date_created|timesince }} ago by
                        <a href="{% url 'blog' %}?author={{ post.author.pk }}">{{ post.author.get_full_name }}</a>
                  </div>
                </div>


            {% endfor %}

     </div>
    <div class="container">
        <div class="d-flex justify-content-center">
            {% if posts.has_previous %}
                <a href="{{ passget }}page={{ posts.previous_page_number }}" class="btn btn-primary backBlueAum m-2" >Previous</a>
            {% endif %}
            <a href="#" class="btn btn-primary backBlueAum m-2">View All</a>
            {% if posts.has_next %}
                <a href="{{ passget }}page={{ posts.next_page_number }}" class="btn btn-primary backBlueAum m-2">Next</a>
            {% endif %}
        </div>
    </div>
    {% comment %}
    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endcomment %}
{% endblock content%}