{% extends 'blog/baseblog.html' %}
{% load staticfiles %}

{% block content %}
    {% include 'snip/animate_open.html' %}
    <div id="FullContent" style="visibility: hidden;overflow-x:hidden;">
        <!--tint overlay 0.5 normal, 0.8 darkest, 0 disabled-->
        {% include 'snip/hero_snip.html' %}
        {% include 'snip/topbanner_snip.html' %}
    <div class="Space-10"></div>
    <div class="container aumblog_PostContainer_TopImage" style="background-color: #FFFFFF">
        <div class="card">
        <img class="aumblog_PostContainer_TopImage_Holder" src="{{ post.bigPicture.url }}" alt="">
            <div class="card-img-overlay">
                <div class="d-flex justify-content-end">
                    {% if post.professorRelated.count > 0 or post.programRelated.count > 0 %}
                    <small class="text-muted bg-white p-1 aumBlog_Related">
                        {% for page in post.professorRelated.all %}
                            <a href="/faculty/{{ page.pk }}">{{ page.name | safe }}</a> /
                        {% endfor %}
                        {% for page in post.programRelated.all %}
                            <a href="/programs/{{ page.pk }}">{{ page.title | safe }}</a> /
                    {% endfor %}
                    </small>
                    {% endif %}
                </div>
                <div class="d-flex align-items-end" style="height: 100%">
                    <div class="aumblog_Title">
                        {{ post.title | safe }}
                    </div>
                    <div class="Space-10"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="container aumblog_PostContainer">


        {{ post.body | safe }}
        <div class="Space-50"></div>
        <div class="d-flex justify-content-end">
            <small class="text-muted">
                Created {{ post.date_created|timesince }} ago by
                <a href="{% url 'blog' %}?author={{ post.author.pk }}">{{ post.author.get_full_name }}</a>
            </small>
        </div>
        <div class="d-flex justify-content-end ">
            {% for tag in post.tags.all %}
                <!--span class="badge badge-secondary m-1">{{ tag }}</span-->
                <a href="{% url 'blog' %}?tag={{ tag }}" class="btn btn-primary badge-pill backRedAum btn-sm m-1">{{ tag }}</a>
            {% endfor %}
        </div>

    </div>
    </div>
    {% include 'snip/footer_snip.html' %}

        {% include 'snip/topnavstick_snip.html' %}
    <script>
            function ScriptContent() {
                if ($('.IsButton').length) {
                    $(".IsButton").hover(function () {
                        $(this).find(".MoreButton_Over").addClass("MoreButton_Over_Active_40");
                        $(this).find('.BarraAnim_Idle').addClass('BarraAnim_Active');
                    }, function () {
                        $(this).find(".MoreButton_Over").removeClass("MoreButton_Over_Active_40");
                        $(this).find('.BarraAnim_Idle').removeClass('BarraAnim_Active');
                    })
                }
                var controller = new ScrollMagic.Controller({loglevel: 3});
                HeroVideoBackEnable(controller);
                TopBannerActivation();

                if($("#TopMenuMini").length) {
                    var TopMenuMiniScroll = new ScrollMagic.Scene({
                        triggerElement: "#HeroBannerApply",
                        triggerHook: 0,
                        duration: 0
                    })
                        .setTween("#TopMenuMini", 0.1, {opacity: 1,display:'', ease: Power0.easeNone})
                        .addTo(controller);
                }
                if (typeof BannerCircActivation !== "undefined") {
                    BannerCircActivation();
                }
                {% if not viewintroanim %}
                    PreloadOut()
                {% endif %}
            }
    </script>
{% endblock content%}