{% extends 'blog/baseblog.html' %}
{% load staticfiles %}

{% block content %}
    <div class="Space-10"></div>
    <div class="container aumblog_PostContainer_TopImage" style="background-color: #FFFFFF">
        <div class="card">
        <img class="aumblog_PostContainer_TopImage_Holder" src="{{ post.bigPicture.url }}" alt="">
            <div class="card-img-overlay">
                <div class="d-flex align-items-end" style="height: 100%">
                    <div class="aumblog_Title">
                        {{ post.title | safe }}
                    </div>
                    <div class="Space-10"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container aumblog_PostContainer">


        {{ post.body | safe }}
        <div class="Space-50"></div>
        <div class="d-flex justify-content-end">
            <small class="text-muted">
                Created {{ post.date_created|timesince }} ago by
                <a href="{% url 'blog' %}?author={{ post.author.pk }}">{{ post.author.get_full_name }}</a>
            </small>
        </div>
    </div>
{% endblock content%}