<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira+Condensed:700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet">
    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/aum.css' %}?{{ timestamp }}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/loaders.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/loaders.min.css' %}">
    <!--link rel="stylesheet" type="text/css" href="{% static 'css/aum.css' %}"-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/instagram.min.css' %}">
    <!--https://github.com/picturepan2/instagram.css-->
    <!--link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <title>AUM Site</title>
</head>


<body style="background-color: #fff">
{% block content %}
{% endblock %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
<!--script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script-->
<!--script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/debug.addIndicators.min.js"></script-->
<!--script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/animation.gsap.min.js"></script-->
<!--script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.waitforimages/1.5.0/jquery.waitforimages.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/animation.gsap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/plugins/ScrollToPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/debug.addIndicators.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.textfill.min.js' %}"></script>
<script src="{% static 'js/backgroundVideo.js' %}"></script>
<!--https://github.com/linnett/backgroundVideo-->

<!--script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script-->
<!-- AOS link https://github.com/michalsnik/aos -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script>
    new WOW().init();
</script>
<script>

    var keys = {37: 1, 38: 1, 39: 1, 40: 1};

    function preventDefault(e) {
        e = e || window.event;
        if (e.preventDefault)
            {% if viewintroanim %}
                if (e.type == 'wheel' || e.type == 'mousewheel') {
                    //alert("try scroll"+e.type);
                    ScrollOut(e.deltaY)
                } else if (e.keyCode == 40) {
                    ScrollOut(20)
                }
            {% endif %}
        e.preventDefault();
        e.returnValue = false;
    }

    function preventDefaultForScrollKeys(e) {
        if (keys[e.keyCode]) {
            //alert("try scroll");
            //ScrollOut(e.deltaY)
            preventDefault(e);
            return false;
        }
    }

    function enableScroll() {
        if (window.removeEventListener)
            window.removeEventListener('DOMMouseScroll', preventDefault, false);
        window.onmousewheel = document.onmousewheel = null;
        window.onwheel = null;
        window.ontouchmove = null;
        document.onkeydown = null;
    }

    function disableScroll() {

        if (window.addEventListener) // older FF
            window.addEventListener('DOMMouseScroll', preventDefault, false);
        window.onwheel = preventDefault; // modern standard
        window.onmousewheel = document.onmousewheel = preventDefault; // older browsers, IE
        window.ontouchmove = preventDefault; // mobile
        document.onkeydown = preventDefaultForScrollKeys;

    }

    {% if isHome %}
        disableScroll()
    {% endif %}
    $(document).ready(function () {
        {% if isHome %}
            window.scrollTo(0, 0);
        {% endif %}
        /*$('#VideoBack').imagesLoaded( { background: true }, function() {
      // images have loaded
            alert("CARGO")
        });*/
        $('#VideoBack').waitForImages({
            finished: function() {
                ScriptContent();
            },
            each: function() {
               // ...
            },
            waitForAll: true
        });
        //ScriptContent();
    });

</script>
</body>
</html>