{% load staticfiles %}

    <div id="_preload_div_" style="position:fixed;left:0;right:0;top:0;bottom:0;background-color: #ce1731">
        <div class="loader" style="margin-top:50vh;margin-left: 50vw;">
            <div class="square-spin">
                <div></div>
            </div>
        </div>
    </div>

    <script>
        function PreloadOut() {
            {% if isHome %}
                TweenMax.to("#_preload_div_", 0.3, {
                    'left': $(window).width(), onComplete: function () {
                        $("#_preload_div_").hide();
                        ShowPage()

                    }
                })
            {% else %}

                TweenMax.to("#_preload_div_", 0.3, {
                    'top': -$(window).height(), 'bottom': $(window).height(), onComplete: function () {
                        $("#_preload_div_").hide();
                        ShowPage();
                    }
                })
            {% endif %}
        }

        function ShowPage() {
            $("#FullContent").css('visibility', 'visible');
            $("body").css('background-color', 'white');
            {% if isHome %}
                StartHeroHomAnim();
            {% else %}
                $(".ShowAfterAnim").css('display', '')
                //$("#animation_container").css('display', 'none')
                $("body").css('background-color', 'white')
                setTimeout(enableScroll, 1000);
            {% endif %}
        }

        function EndAnimation() {
            $(".ShowAfterAnim").css('display', '')
            //$("#animation_container").css('display', 'none')
            $("body").css('background-color', 'white')
            setTimeout(enableScroll, 1000)
            HeroHomeStepAnim()
            //enableScroll()
        }
    </script>
