{% load staticfiles %}

<div class="HeroBannerApplyButton" onclick="window.open('{{ settingsapply.applyLink |safe }}');">
    <table class="Table-FullSize">
      <tbody>
        <tr>
            <td class="align-middle">
                <h1>
                    {{ settingsapply.call|safe }}
                </h1>
                <h4><img src="{% static 'icons/down-arrow.png' %}"></h4>
                {% if not settingsapply.landing1 or settingsapply.landing1 != "" %}
                    <h2>{{ settingsapply.landing1|safe }}</h2>
                {% endif %}
                {% if not settingsapply.landing2 or settingsapply.landing2 != "" %}
                    <h3>{{ settingsapply.landing2|safe }}</h3>
                {% endif %}
                <div class="HeroBannerApplyBarra">
                    <div class="BarraAnim_Idle"></div>
                </div>
            </td>
        </tr>
      </tbody>
    </table>
</div>