{% load staticfiles %}

<div id="CarouselValuePin" >
    <div id="CarouselValue" class="mx-auto">
        <div id="CarouselValue_click" class="carousel slide carousel-fade" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#CarouselValue_click" data-slide-to="0" class="active"></li>
            <li data-target="#CarouselValue_click" data-slide-to="1"></li>
            <li data-target="#CarouselValue_click" data-slide-to="2"></li>
          </ol>
          <div id="CarouselValueTrigger" class="carousel-inner">
            <div class="carousel-item active">
              <div class="CarouselTest" style="background-image: url({% static forcedata.img1 %})"></div>
            </div>
            <div class="carousel-item">
                <div class="CarouselTest" style="background-image: url({% static forcedata.img2 %})"></div>
            </div>
            <div class="carousel-item">
                <div class="CarouselTest" style="background-image: url({% static forcedata.img3 %})"></div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#CarouselValue_click" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#CarouselValue_click" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </div>
</div>


<div class="container-fluid p-lg-5"><br></div>
<div class="container-fluid mt-lg-5"><br></div>
<div class="container-fluid p-lg-5"><br></div>
    <!-- GOTO_OUR_VALUES-->
<div class="container-fluid blackAUM">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div id="CarouselBanner" class="row">
                <div class="col-lg-4 BannerButton" onclick="window.location='{% url forcedata.url.dir forcedata.url.param %}';">
                    <h1>
                        {{ forcedata.bannerBig |safe }}
                    </h1>
                    <h4><img src="{% static 'icons/down-arrow.png' %}"></h4>
                    <h2>{{ forcedata.bannerLine1 | safe }}</h2>
                    <h3>{{ forcedata.bannerLine2 |safe }}</h3>
                    <div class="BannerButtonBarra">
                        <div class="BarraAnim_Idle"></div>
                    </div>
                </div>
                <div class="col-lg-1">
                    <div class="lineaVertical"></div>
                </div>
                <div class="col-lg-7">
                    <h5>{{ forcedata.bannerExplain1 | safe}}</h5>
                    <p>
                        {{ forcedata.bannerExplain2 | safe}}
                    </p>
                    <h6><img src="{% static 'icons/FlechaRight1.png' %}"></h6>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
<script>
    function CarouselForce1Enable(controller) {
            var sceneValue = new ScrollMagic.Scene({triggerElement:"#CarouselValuePin", triggerHook: "0", duration: 300, loglevel: 3})
										//.setPin("#CarouselValuePin",{pushFollowers:false})
                                        .setTween(".CarouselTest", {borderRadius:"0%",ease:Power0.easeNone}) // the tween durtion can be omitted and defaults to 1
                                        //.setTween("#CarouselValue",{width:"100%"})
										//.addIndicators() // add indicators (requires plugin)
										.addTo(controller);
            var sceneValue = new ScrollMagic.Scene({triggerElement:"#CarouselValuePin", triggerHook: "0", duration: 300, loglevel: 3})
										//.setPin("#CarouselValue")
                                        //.setTween(".CarouselTest", {borderRadius:"0%"}) // the tween durtion can be omitted and defaults to 1
                                        .setTween("#CarouselValue",{width:"100%",ease:Power0.easeNone})
                                        //.setTween("body", {backgroundColor: "#ce1731"})
                                        //.setTween("#CarouselValue",{transform: 'scaleX(2)'})
										//.addIndicators() // add indicators (requires plugin)
										.addTo(controller);
            var sceneValue = new ScrollMagic.Scene({triggerElement:"#CarouselValuePin", triggerHook: "0", duration: 600, loglevel: 3})
										.setPin("#CarouselValuePin",{pushFollowers:false})
                                        .setTween("body", {backgroundColor: "#e7e8e2"})
										.addTo(controller);

            $(".BannerButton").hover(function() {
                $(this).css('cursor','pointer');
                $(this).addClass('backgroundOver1_force');
                $(this).addClass('text-white');
                $(this).find('img').attr("src","{% static 'icons/down-arrow-2.png' %}");
                $(this).find('.BarraAnim_Idle').addClass('BarraAnim_Active');
            }, function () {
                $(this).find('img').attr("src","{% static 'icons/down-arrow.png' %}");
                $(this).removeClass('backgroundOver1_force');
                $(this).removeClass('text-white');
                $(this).find('.BarraAnim_Idle').removeClass('BarraAnim_Active');
            });
    }
</script>