{% load staticfiles %}

<!--CHEQUEAR EL TIPO DE HEADER EN la data que pasa-->

<!--tint overlay 0.5 normal, 0.8 darkest, 0 disabled-->
<!--
usevideo=False useimg=True imgurl=data.bigImage.url tintoverlay=0.9
usebackcolor=False colorback=#121212
typemodel=home, program
minilogotxt="MBP"
invertnavcolor=true
usefontrich=si usa tipo que reacciona al bold
-->

{% if settingstop.useimg %}
    <div id="VideoBack" class="backgroundImgResponsive ForceMinHeight" style="background-image: url({{ settingstop.imgurl.url }})">
    <!--div id="VideoBack" class="backgroundImgResponsive ForceMinHeight" style="background-image: url({% static 'videos/backvideoMini.jpg' %})"-->
    <!--div id="VideoBack" class="backgroundImgResponsive" style="background-image: url({% static 'imgtest/bookkeeping.jpg' %})"-->

{% elif settingstop.usebackcolor %}
    <div id="VideoBack" class="ForceMinHeight" style="background-color: {{ settingstop.colorback }}">
{% else %}
    <div id="VideoBack" class="ForceMinHeight">
{% endif %}
{% if settingstop.usevideo %}
    <!--video src="{% static 'videos/backgroundMini.mp4' %}" autoplay muted loop class="bv-video"-->
    <!--video src="{% static 'videos/backgroundMini.mp4' %}" autoplay muted loop poster="{% static 'videos/backvideoMini.jpg' %}" style="min-width: 120%;height: auto; min-height: 110%; margin-top: -40%">
    </video-->
    {% if isHome %}
        <div id="HeroImg1"
             style="position:absolute; left:0%;min-height: 100%;width: 0%;background-image: url({% static 'imgsback/aumback1.jpg' %}); background-position: -50px 50%;background-attachment: fixed;">
        </div>
        <div id="HeroImg2"
             style="position:absolute; left:0%;min-height: 100%;width: 0%;background-image: url({% static 'imgsback/aumback2.jpg' %}); background-position: -50px 50%;background-attachment: fixed;">
        </div>
        <div id="HeroImg3"
             style="position:absolute; left:0%;min-height: 100%;width: 0%;background-image: url({% static 'imgsback/aumback3.jpg' %}); background-position: -50px 20%;background-attachment: fixed;">
        </div>
        <div id="HeroImg4"
             style="position:absolute; left:0%;min-height: 100%;width: 0%;background-image: url({% static 'imgsback/aumback4.jpg' %}); background-position: -50px 20%;background-attachment: fixed;">
        </div>
    {% elif data.hasImagesHero%}
        <div id="HeroImg1"
             style="position:absolute; left:0%;min-height: 100%;width: 25%;background-image: url({{ data.bigImageA.url }}); background-position: -50px 50%;background-attachment: fixed;">
        </div>
        <div id="HeroImg2"
             style="position:absolute; left:25%;min-height: 100%;width: 25%;background-image: url({{ data.bigImageB.url }}); background-position: -50px 50%;background-attachment: fixed;">
        </div>
        <div id="HeroImg3"
             style="position:absolute; left:50%;min-height: 100%;width: 25%;background-image: url({{ data.bigImageC.url }}); background-position: -50px 20%;background-attachment: fixed;">
        </div>
        <div id="HeroImg4"
             style="position:absolute; left:75%;min-height: 100%;width: 25%;background-image: url({{ data.bigImageD.url }}); background-position: -50px 20%;background-attachment: fixed;">
        </div>
    {% else %}
        <div id="HeroImg1"
             style="position:absolute; left:0%;min-height: 100%;width: 25%;background-image: url({% static 'imgsback/aumback1.jpg' %}); background-position: -50px 50%;background-attachment: fixed;">
        </div>
        <div id="HeroImg2"
             style="position:absolute; left:25%;min-height: 100%;width: 25%;background-image: url({% static 'imgsback/aumback2.jpg' %}); background-position: -50px 50%;background-attachment: fixed;">
        </div>
        <div id="HeroImg3"
             style="position:absolute; left:50%;min-height: 100%;width: 25%;background-image: url({% static 'imgsback/aumback3.jpg' %}); background-position: -50px 20%;background-attachment: fixed;">
        </div>
        <div id="HeroImg4"
             style="position:absolute; left:75%;min-height: 100%;width: 25%;background-image: url({% static 'imgsback/aumback4.jpg' %}); background-position: -50px 20%;background-attachment: fixed;">
        </div>
    {% endif %}
{% endif %}
</div>

<div class="container-fluid text-white ForceMinHeight">
    {% if settingstop.tintoverlay == 0 %}
        <div id="HeroOverlay" class="row fullViewportHeight backgroundImgResponsive ForceMinHeight">
    {% else %}
        {% if settingstop.overlayred %}
            <div id="HeroOverlay" class="row fullViewportHeight backgroundImgResponsive ForceMinHeight"
             style="background-image: linear-gradient(
                     rgba(206,23,49, {{ settingstop.tintoverlay }}),
                     rgba(0,0,0, {{ settingstop.tintoverlay }})
                     );opacity: {{ isHome|yesno:'0,1' }}">
        {% else %}
        <div id="HeroOverlay" class="row fullViewportHeight backgroundImgResponsive ForceMinHeight"
             style="background-image: linear-gradient(
                     rgba(0, 74, 135, {{ settingstop.tintoverlay }}),
                     rgba(0, 74, 135, {{ settingstop.tintoverlay }})
                     );opacity: {{ isHome|yesno:'0,1' }}">
        {% endif %}
    {% endif %}
    <div id="HeroLogo" class="col-lg-1 {{ settingstop.invertnavcolor|yesno:'heronavDark,' }}">
        {% if topdata.useClassicLogo %}
            <div class="mt-lg-2">
                <a href="{% url 'home' %}">
                    <img src="{{ topdata.classicLogo.url }}" class="HeroLogoClassic slideInDown wow ShowAfterAnim"
                         style="display: none">
                </a>
            </div>
        {% else %}
            <a href="{% url 'home' %}">
                <img src="{{ topdata.logoImage1.url }}" class="img-fluid">
            </a>
            <div id="HeroLogoTexto">AUM</div>
            <p>AMERICAN UNIVERSITY OF MALTA</p-->
        {% endif %}
        <!--img src="{{ topdata.logoImage1.url }}" class="img-fluid">
            <div id="HeroLogoTexto">AUM</div>
            <p>AMERICAN UNIVERSITY OF MALTA</p-->


    </div>
    <div class="col-lg-11">
        <div id="HeroMenuTop" class="row TopNav_General{{ settingstop.invertnavcolor|yesno:'heronavDark,' }}">

            <div class="row TopNav_General slideInDown wow ShowAfterAnim ml-auto mr-2" style="display: none;">
                <nav class="navbar navbar-expand-lg ml-auto">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            {% for navinfo in topnav.groups %}

                                {% if navinfo.type == "link" %}
                                    <li class="nav-item active">
                                        {% if navinfo.url.type == "internal" %}
                                            {% if navinfo.url.param %}
                                                {% if navinfo.url.anchor %}
                                                    <a class="nav-link {{ settingstop.invertnavcolor|yesno:'heronavDark,' }}"
                                                       href="{% url navinfo.url.dir navinfo.url.param %}#{{ navinfo.url.anchor }}">{{ navinfo.text |safe }}</a>
                                                {% else %}
                                                    <a class="nav-link {{ settingstop.invertnavcolor|yesno:'heronavDark,' }}"
                                                       href="{% url navinfo.url.dir navinfo.url.param %}">{{ navinfo.text |safe }}</a>
                                                {% endif %}

                                            {% else %}
                                                {% if navinfo.url.anchor %}
                                                    <a class="nav-link {{ settingstop.invertnavcolor|yesno:'heronavDark,' }}"
                                                       href="{% url navinfo.url.dir %}#{{ navinfo.url.anchor }}">{{ navinfo.text |safe }}</a>
                                                {% else %}
                                                    <a class="nav-link {{ settingstop.invertnavcolor|yesno:'heronavDark,' }}"
                                                       href="{% url navinfo.url.dir %}">{{ navinfo.text |safe }}</a>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            {% if navinfo.url.anchor %}
                                                <a class="nav-link {{ settingstop.invertnavcolor|yesno:'heronavDark,' }}"
                                                   href="{{ navinfo.url.dir }}#{{ navinfo.url.anchor }}">{{ navinfo.text |safe }}</a>
                                            {% else %}
                                                <a class="nav-link {{ settingstop.invertnavcolor|yesno:'heronavDark,' }}"
                                                   href="{{ navinfo.url.dir }}">{{ navinfo.text |safe }}</a>
                                            {% endif %}
                                        {% endif %}
                                    </li>
                                {% elif navinfo.type == "dropdown" %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle {{ settingstop.invertnavcolor|yesno:'heronavDark,' }}"
                                           href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false">
                                            {{ navinfo.text |safe }}
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            {% for item in navinfo.content %}
                                                {% if item.type == "link" %}
                                                    {% if item.url.type == "internal" %}
                                                        {% if item.url.param %}
                                                            {% if item.url.anchor %}
                                                                <a class="dropdown-item"
                                                                   href="{% url item.url.dir item.url.param %}#{{ item.url.anchor }}">{{ item.text |safe }}</a>
                                                            {% else %}
                                                                <a class="dropdown-item"
                                                                   href="{% url item.url.dir item.url.param %}">{{ item.text |safe }}</a>
                                                            {% endif %}
                                                            <!--a class="dropdown-item" href="{% url item.url.dir item.url.param %}">{{ item.text |safe }}</a-->
                                                        {% else %}
                                                            {% if item.url.anchor %}
                                                                <a class="dropdown-item"
                                                                   href="{% url item.url.dir %}#{{ item.url.anchor }}">{{ item.text |safe }}</a>
                                                            {% else %}
                                                                <a class="dropdown-item"
                                                                   href="{% url item.url.dir %}">{{ item.text|safe }}</a>
                                                            {% endif %}

                                                        {% endif %}
                                                    {% else %}
                                                        {% if item.url.anchor %}
                                                            <a class="dropdown-item"
                                                               href="{{ item.url.dir }}#{{ item.url.anchor }}"
                                                               target="_blank">{{ item.text|safe }}</a>
                                                        {% else %}
                                                            <a class="dropdown-item" href="{{ item.url.dir }}"
                                                               target="_blank">{{ item.text|safe }}</a>
                                                        {% endif %}
                                                    {% endif %}
                                                {% elif item.type == "separator" %}
                                                    <div class="dropdown-divider"></div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </li>
                                {% elif navinfo.type == "separator" %}
                                    <div class="ml-lg-4 mr-lg-4"
                                         style="border-right: 1px solid {{ settingstop.invertnavcolor|yesno:'#121212,#FFFFFF' }}"></div>
                                {% endif %}

                            {% endfor %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                {% if settingstop.typemodel == 'home' %}
                    <!--div class="font-weight-light TextoInicio fadeIn wow ShowAfterAnim" data-wow-delay="0.5s" style="display: none">{{ settingstop.texttop | safe }}</div-->
                    <div class="HeroTextStepBox"
                         style="position: fixed;width: 700px;height: 162px;top: 200px;left: 330px;overflow: hidden">
                        <div id="HeroTextStep_1" class="HeroTextStep"
                             style="font-size: 120px;position: absolute;top: 200px;left:10px;font-weight: 900">Step into
                        </div>
                    </div>
                    <div class="HeroTextStepBox"
                         style="position: fixed;width: 700px;height: 100px;top: 370px;left: 330px;overflow: hidden">
                        <div id="HeroTextStep_2" class="HeroTextStep"
                             style="font-size: 120px;position: absolute;top: 200px;left:10px;font-weight: 900">Your
                            Future
                        </div>
                    </div>
                    <div class="HeroTextStepBox"
                         style="position: fixed;width: 700px;height: 162px;top: 370px;left: 10px;overflow: hidden">
                        <div id="HeroTextStep_3" class="HeroTextStep"
                             style="font-size: 120px;position: absolute;top: 200px;left:10px;font-weight: 900">go
                        </div>
                    </div>
                {% elif settingstop.typemodel == 'program' %}
                    <div class="row HeroProgramSpace1">
                    </div>
                    <div class="row" style="height: 250px">
                        <div class="HeroProgramCircle"><p>{{ settingstop.minilogotxt }}</p></div>
                        <table class="HeroProgramTitleHolder">
                            <tbody>
                            <tr>
                                <td class="align-middle">
                                    <div class="font-weight-bold {{ settingstop.usefontrich|yesno:'HeroProgramTitle_rich,HeroProgramTitle' }}">{{ settingstop.texttop | safe }}</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="row">
                        <div class="font-weight-light HeroProgramText">{{ settingstop.textbody | safe }}</div>
                    </div>
                {% elif settingstop.typemodel == 'admission' %}
                    <div class="row HeroAdmissionSpace1">
                    </div>
                    <div class="row" style="height: 250px">
                        <div class="HeroAdmissionCircle" style="background-image: url({{ data_medImage1.url }})">
                            <p>{{ settingstop.minilogotxt }}</p></div>
                        <table class="HeroAdmissionTitleHolder">
                            <tbody>
                            <tr>
                                <td class="align-bottom {{ settingsapply.variantbanner|yesno:'darkgreyAUM,' }}">
                                    <div class="font-weight-bold {{ settingstop.usefontrich|yesno:'HeroProgramTitle_rich,HeroProgramTitle' }}">{{ settingstop.texttop | safe }}</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="row">
                        <div class="HeroAdmissionText w-75 {{ settingsapply.variantbanner|yesno:'darkgreyAUM,' }}">{{ settingstop.textbody | safe }}</div>
                    </div>
                {% elif settingstop.typemodel == 'tuition' %}
                    <div class="row HeroAdmissionSpace1">
                    </div>
                    <div class="row" style="height: 250px">
                        <div class="HeroAdmissionCircle" style="background-image: url({{ data_medImage1.url }})">
                            <p>{{ settingstop.minilogotxt }}</p></div>
                        <table class="HeroAdmissionTitleHolder">
                            <tbody>
                            <tr>
                                <td class="align-bottom">
                                    <div class="font-weight-bold {{ settingstop.usefontrich|yesno:'HeroProgramTitle_rich,HeroProgramTitle' }}">{{ settingstop.texttop | safe }}</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="row">
                        <div class="HeroAdmissionText w-75">{{ settingstop.textbody | safe }}</div>
                    </div>
                {% elif settingstop.typemodel == 'faculty' %}
                    <div class="row" style="height: 150px">
                        <table class="HeroFacultyTitleHolder">
                            <tbody>
                            <tr>
                                <td class="align-bottom">
                                    <div class="font-weight-bold {{ settingstop.usefontrich|yesno:'HeroProgramTitle_rich,HeroProgramTitle' }}">{{ settingstop.texttop | safe }}</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="row">
                        <div class="HeroFacultyText w-75">{{ settingstop.textbody | safe }}</div>
                    </div>
                {% elif settingstop.typemodel == 'provost' %}
                    <div class="row HeroAdmissionSpace1">
                    </div>
                    <div class="row" style="height: 250px">
                        <div class="HeroAdmissionCircle" style="background-image: url({{ data_medImage1.url }})">
                            <p>{{ settingstop.minilogotxt }}</p></div>
                        <table class="HeroMsgProvTitleHolder">
                            <tbody>
                            <tr>
                                <td class="align-bottom">
                                    <div class="font-weight-bold {{ settingstop.usefontrich|yesno:'HeroProgramTitle_rich,HeroProgramTitle' }}">{{ settingstop.texttop | safe }}</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="row">
                        <div class="HeroFacultyText w-75">{{ settingstop.textbody | safe }}</div>
                    </div>
                {% elif settingstop.typemodel == 'professor' %}
                    <div class="row">
                    </div>
                    <div class="row" style="height: 360px">
                        {% if data_medImage1 %}
                            <div class="HeroProfessorCircle" style="background-image: url({{ data_medImage1.url }})">
                                <p></p></div>
                        {% else %}
                            <div class="HeroProfessorCircle"><p>{{ settingstop.minilogotxt }}</p></div>
                        {% endif %}
                        <table class="HeroProfessorTitleHolder ">
                            <tbody>
                            <tr>
                                <td class="align-bottom text-white ">
                                    <div class="{{ settingstop.usefontrich|yesno:'HeroProgramTitle_rich,HeroProgramTitle' }}"><strong>{{ settingstop.texttop | safe }}</strong></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="row">
                        <div class="HeroProfessorText text-white"><strong>{{ settingstop.textbody | safe }}</strong></div>
                    </div>
                {% elif settingstop.typemodel == 'generalpage' %}
                    <div class="row" style="height: 500px" style="color: {{ settingstop.colortext | safe }}">
                        <table class="HeroGeneralTitleHolder Table-FullSize">
                            <tbody>
                            <tr>
                                <td class="align-bottom">
                                    <div class="HeroGeneralTitle_rich">{{ settingstop.texttop | safe }}
                                    </div>
                                    <div class="HeroGeneralText w-75">{{ settingstop.textbody | safe }}</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="row">

                    </div>
                {% elif settingstop.typemodel == 'blogholder' %}
                    <div class="row" style="height: 500px" style="color: {{ settingstop.colortext | safe }}">
                        <table class="HeroGeneralTitleHolder Table-FullSize">
                            <tbody>
                            <tr>
                                <td class="align-bottom">
                                    <div class="HeroGeneralMidTitle_rich">{{ settingstop.texttop | safe }}
                                    </div>
                                    <div class="HeroGeneralText w-75">{{ settingstop.textbody | safe }}</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="row">

                    </div>
                {% endif %}

            </div>
        </div>
    </div>
    </div>
    </div>

    <script>
        function HeroVideoBackEnable(controller) {

            /*var controller2 = new ScrollMagic.Controller({
                globalSceneOptions: {
                    triggerHook: "onEnter",
                    duration: "200%"
                }
            });
            new ScrollMagic.Scene({triggerElement: "#HeroLogo"})
                .setTween("#VideoBack > video", {y: "100%", ease: Linear.easeNone})
                .addTo(controller2);*/
            var T1=5;
            var T2=2;
            function MoveRandomImg1() {
                TweenMax.to("#HeroImg1", Math.random() * T1 + T2, {
                    'background-position': ((Math.random() * -500) - 300) + "px 50%",
                    onComplete: MoveRandomImg1
                })
            }

            MoveRandomImg1()

            function MoveRandomImg2() {
                TweenMax.to("#HeroImg2", Math.random() * T1 + T2, {
                    'background-position': ((Math.random() * -500) + 100) + "px 50%",
                    onComplete: MoveRandomImg2
                })
            }

            MoveRandomImg2()

            function MoveRandomImg3() {
                TweenMax.to("#HeroImg3", Math.random() * T1 + T2, {
                    'background-position': (Math.random() * -500) + "px 0%",
                    onComplete: MoveRandomImg3
                })
            }

            MoveRandomImg3()

            function MoveRandomImg4() {
                TweenMax.to("#HeroImg4", Math.random() * T1 + T2, {
                    'background-position': ((Math.random() * 500) + 100) + "px 20%",
                    onComplete: MoveRandomImg4
                })
            }

            MoveRandomImg4()


            //MoveRandomHolders()
            {% if not isHome %}
                {% if settingstop.usevideo %}
                    MoveRandomHolders();
                {% endif %}
            {% endif %}
        }

        function StartHeroHomAnim() {
            MoveRandomHolders(2);
            TweenMax.to("#HeroOverlay", 3, {'opacity': 1});
            setTimeout(EndAnimation, 2000);

        }

        function MoveRandomHolders(tt) {
            //alert("haklhka")
            var a = Math.random() * 30 + 10;
            var b = Math.random() * (70 - a) + 20;
            var b1 = Math.random() * (b - 20) + 10;
            var b2 = b - b1;
            var d = 100 - a - b;
            var t = Math.random() * 10 + 5;
            if (tt > 0) {
                t = tt;
            }

            TweenMax.to("#HeroImg1", t, {'width': a + "%"});
            TweenMax.to("#HeroImg2", t, {'width': b1 + "%", 'left': a + "%"});
            TweenMax.to("#HeroImg3", t, {'width': b2 + "%", 'left': (a + b1) + "%"});
            TweenMax.to("#HeroImg4", t, {'width': d + "%", 'left': (a + b1 + b2) + "%"});
            setTimeout(MoveRandomHolders, t * 1000 + (Math.random() * 3000))
        }

        function HeroHomeStepAnim() {
            var tl = new TimelineLite();
            tl.to("#HeroTextStep_1", 0.3, {'top': 0}).to("#HeroTextStep_2", 0.3, {'top': -40})
                .to("#HeroTextStep_3", 0.3, {'top': -40})
            var content1 = document.getElementById('HeroTextStep_1')
            var content2 = document.getElementById('HeroTextStep_2')
            var content3 = document.getElementById('HeroTextStep_3')
            scroller = function () {
                content1.style.top = -(document.documentElement.scrollTop || document.body.scrollTop) + 0 + 'px';
                content2.style.top = -(document.documentElement.scrollTop || document.body.scrollTop) - 40 + 'px';
                content3.style.top = -(document.documentElement.scrollTop || document.body.scrollTop) - 40 + 'px';

                if ((document.documentElement.scrollTop || document.body.scrollTop) > $(window).height()) {
                    //console.log((document.documentElement.scrollTop || document.body.scrollTop))
                    $('.HeroTextStepBox').css('display', 'none')
                } else {
                    $('.HeroTextStepBox').css('display', '')
                }
                return;
            };
            window.addEventListener('scroll', scroller, false);
        }
    </script>